In [1]:
import pandas as pd

In [14]:
!pip3 install sklearn

Requirement already satisfied: sklearn in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (0.0.post1)
WARNING: You are using pip version 19.2.3, however version 22.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [19]:
from sklearn.preprocessing import StandardScaler
def ApplyStandardization(df):
    scale= StandardScaler()
    X = df[df.columns[:-1]]
    scaled_data = scale.fit_transform(X)
    df_scaled = pd.DataFrame(scaled_data,columns = df.columns[:-1])
    df_scaled[df.columns[-1]] = df[df.columns[-1]]
    return df_scaled

df = pd.read_csv("./data/iris.csv")

ApplyStandardization(df)

     sepal.length  sepal.width  petal.length  petal.width  variety
0       -0.900681     1.019004     -1.340227    -1.315444        0
1       -1.143017    -0.131979     -1.340227    -1.315444        0
2       -1.385353     0.328414     -1.397064    -1.315444        0
3       -1.506521     0.098217     -1.283389    -1.315444        0
4       -1.021849     1.249201     -1.340227    -1.315444        0
..            ...          ...           ...          ...      ...
145      1.038005    -0.131979      0.819596     1.448832        2
146      0.553333    -1.282963      0.705921     0.922303        2
147      0.795669    -0.131979      0.819596     1.053935        2
148      0.432165     0.788808      0.933271     1.448832        2
149      0.068662    -0.131979      0.762758     0.790671        2

[150 rows x 5 columns]

In [23]:
import warnings
from sklearn.datasets import load_boston

In [35]:
from sklearn.preprocessing import Normalizer
def ApplyNormalization(df):
    scale= Normalizer()
    X = df[df.columns[:-1]]
    scaled_data = scale.fit_transform(X)
    df_scaled = pd.DataFrame(scaled_data,columns = df.columns[:-1])
    df_scaled[df.columns[-1]] = df[df.columns[-1]]
    return df_scaled

df = pd.read_csv("./data/boston.csv")

ApplyStandardization(df)

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,-1.728631,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,24000.0
1,-1.721785,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,21600.0
2,-1.714939,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,34700.0
3,-1.708093,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517,33400.0
4,-1.701247,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501,36200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,1.701247,-0.413229,-0.487722,0.115738,-0.272599,0.158124,0.439316,0.018673,-0.625796,-0.982843,-0.803212,1.176466,0.387217,-0.418147,22400.0
502,1.708093,-0.415249,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850,20600.0
503,1.714939,-0.413447,-0.487722,0.115738,-0.272599,0.158124,0.984960,0.797449,-0.773684,-0.982843,-0.803212,1.176466,0.441052,-0.983048,23900.0
504,1.721785,-0.407764,-0.487722,0.115738,-0.272599,0.158124,0.725672,0.736996,-0.668437,-0.982843,-0.803212,1.176466,0.403225,-0.865302,22000.0
505,1.728631,-0.415000,-0.487722,0.115738,-0.272599,0.158124,-0.362767,0.434732,-0.613246,-0.982843,-0.803212,1.176466,0.441052,-0.669058,11900.0

In [36]:
from sklearn.preprocessing import StandardScaler
def ApplyStandardization(df):
    scale= StandardScaler()
    X = df[df.columns[:-1]]
    scaled_data = scale.fit_transform(X)
    df_scaled = pd.DataFrame(scaled_data,columns = df.columns[:-1])
    df_scaled[df.columns[-1]] = df[df.columns[-1]]
    return df_scaled

df = pd.read_csv("./data/boston.csv")

ApplyStandardization(df)

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,-1.728631,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,24000.0
1,-1.721785,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,21600.0
2,-1.714939,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,34700.0
3,-1.708093,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517,33400.0
4,-1.701247,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501,36200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,1.701247,-0.413229,-0.487722,0.115738,-0.272599,0.158124,0.439316,0.018673,-0.625796,-0.982843,-0.803212,1.176466,0.387217,-0.418147,22400.0
502,1.708093,-0.415249,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850,20600.0
503,1.714939,-0.413447,-0.487722,0.115738,-0.272599,0.158124,0.984960,0.797449,-0.773684,-0.982843,-0.803212,1.176466,0.441052,-0.983048,23900.0
504,1.721785,-0.407764,-0.487722,0.115738,-0.272599,0.158124,0.725672,0.736996,-0.668437,-0.982843,-0.803212,1.176466,0.403225,-0.865302,22000.0
505,1.728631,-0.415000,-0.487722,0.115738,-0.272599,0.158124,-0.362767,0.434732,-0.613246,-0.982843,-0.803212,1.176466,0.441052,-0.669058,11900.0